{% load static %}
<!DOCTYPE html>
<html>

<head id="head">
    <meta name="viewport" content="=width=device-width initial-scale = 1">
    <meta name="google-signin-client_id" content="746293115799-eg9q3r3l5u4v51h8cc1rbt9nrq5437kt.apps.googleusercontent.com">
    <title id="title">BOOKS</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>


<body onload="getData()" id="body">
    {% csrf_token %}
    <a href="{% url 'logoutPage' %}" onclick="signOut();">Sign out</a>
    <h4 class="favorited">LIST GOOGLE BOOK</h4>
    <h6 align="center">Welcome back, {{ name }}!</h6>
    <div class="top">
        <div class="search-container">
            <input type="text" placeholder="Search.." name="search" id="searchBar">
            <button type="submit" onclick='call_book_api()'>Search</button>
        </div>
        <h4 class="favorited">Favorited Books: <span id="counter">{{ count }}</span></h4>
    </div>
    <section id="table" class="container">
        <table class="table table-striped">
            <thead class="thead-light">
                <tr>
                    <th>Title</th>
                    <th>Authors</th>
                    <th>Published Date</th>
                    <th><img width="25" height="25" src="{% static 'img/star_icon.png' %}"></th>
                </tr>
            </thead>
            <tbody id="tbody">
            </tbody>
        </table>
    </section>

</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"> </script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script>
    var favoritedIcon = "/static/img/star_gold.png";
    var defaultIcon = "/static/img/star_lineal.png";

    function getData() {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var html;

        $.ajax({
            method: 'GET',
            url: '/data/',
            headers: {
                "X-CSRFToken": csrftoken,
            },
            success: function (result) {
                var data = result.data;
                var icon;
                for (var i = 0; i < data.length; i++) {
                    var book_info = data[i];
                    if (book_info.boolean) {
                        icon = `<img width='24' height='24' id="${book_info['id']}" onclick='removeFavorites("${book_info['id']}")' src='${favoritedIcon}'>`;
                    } else {
                        icon = `<img width='24' height='24' id="${book_info['id']}" onclick='addFavorites("${book_info['id']}")' src='${defaultIcon}'>`;
                    }
                    html =
                        `<tr><td>${book_info['title']}</td><td>${book_info['authors']}</td><td>${book_info['published']}</td><td align="center">${icon}</td></tr>`;
                    $('#tbody').append(html);
                }
            }
        })
    }

    function addFavorites(id) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            method: "POST",
            url: "/add/",
            headers: {
                "X-CSRFToken": csrftoken,
            },
            data: {
                id: id,
            },
            success: function (res) {
                var icon = `<img width='24' height='24' id="${res.id}" onclick='removeFavorites("${res.id}")' src='${favoritedIcon}'>`;
                $("#" + res.id).replaceWith(icon);
                $("#counter").replaceWith(`<span id='counter'>${res.count}</span>`);
            },
            error: function () {
                alert("Error, cannot get data from server");
            }
        });
    }

    function removeFavorites(id) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        $.ajax({
            method: "POST",
            url: "/remove/",
            headers: {
                "X-CSRFToken": csrftoken,
            },
            data: {
                id: id,
            },
            success: function (res) {
                var icon = `<img width='24' height='24' id="${res.id}" onclick='addFavorites("${res.id}")' src='${defaultIcon}'>`;
                $('#' + res.id).replaceWith(icon);
                $("#counter").replaceWith(`<span id='counter'>${res.count}</span>`);
            },
            error: function () {
                alert("Error, cannot get data from server");
            }
        });
    }

    $(document).ready(function () {
        gapi.load('auth2', function () {
            gapi.auth2.init();
        });
    });

    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        sendToken(id_token);
        console.log("Logged In");
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

    function sendToken(token) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var html;

        $.ajax({
            method: "POST",
            url: "/login/",
            headers: {
                "X-CSRFToken": csrftoken
            },
            data: { id_token: token },
            success: function (result) {
                console.log("Successfully send token");
                if (result.status === "0") {
                    html = "<h4 class='success'>Logged In</h4>";
                    window.location.replace(result.url);
                } else {
                    html = "<h4 class='fail'>Something error, please report</h4>";
                }
                $("h4").replaceWith(html);
            },
            error: function () {
                alert("Something error, please report");
            }
        })
    }

    function call_book_api() {
        var txt = $("#searchBar").val();
        var link = "https://www.googleapis.com/books/v1/volumes?q=" + txt;
        $.ajax({
            method: 'GET',
            url: link,
            success: function (result) {
                $('#tbody').empty();
                for (var i = 0; i < result['items'].length; i++) {
                    var html =
                        "<tr>" +
                        "<td>" + result['items'][i].volumeInfo.title + "</td>" +
                        "<td>" + result['items'][i].volumeInfo.authors[0] + "</td>" +
                        "<td>" + result['items'][i].volumeInfo.publishedDate + "</td>" +
                        "<td align='center'><img width='24' height='24' src='" + defaultIcon + "'></td>";
                    "</tr>";
                    $('tbody').append(html);
                }
                console.log(result);
            },
            error: function () {
                alert("Error!");
            }
        })
    }

</script>
<script src="https://apis.google.com/js/platform.js"></script>

</html>