{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="=width=device-width initial-scale = 1">
    <title> MY PROFILE PAGE </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <!-- link css & js -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{% static 'js/lab_6.js' %}"></script>
</head>
<body>
    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    
    <div class = 'title'>
        <h1>MY PROFILE</h1>
    </div>
    <div class = 'isi'> 
        <p>Name : Chelsy Lifardy</p>
        <p>NPM : 1706043582</p>
        <p>Universitas : Universitas Indonesia</p>
    </div>

    <div id="accordion">
        <h3>DAFTAR AKTIVITAS</h3>
        <div>
          <p>
          Saat ini, saya sedang sibuk menjalankan aktivitas perkuliahan selayak mahasiswa semester 3 lainnya.
          Saya mengambil beberapa mata kuliah: Perancangan & Pemrograman Web, Sistem Data dan Algoritma, Aljabar Linier, Fisika Dasar,
          Prinsip-Prinsip Sistem Informasi, Administrasi Bisnis, dan Statistika dan Probabilitas.
          </p>
          <h4><b>Daftar Mata Kuliah: </b></h4>
          <ul>
            <li>Perancangan & Pemrograman Web</li>
            <li>Sistem Data dan Algoritma</li>
            <li>Aljabar Linier</li>
            <li>Fisika Dasar</li>
            <li>Prinsip-Prinsip Sistem Informasi</li>
            <li>Administrasi Bisnis</li>
            <li>Statistika dan Probabilitas</li>
          </ul>
          <h4><b>Daftar Aktivitas: </b></h4>
          <ul>
            <li>Menjalankan perkuliahan</li>
            <li>Lomba TBIG innovative app</li>
            <li>Mengajar les privat</li>
            <li>Berjualan online</li>
          </ul>
        </div>
        <h3>PENGALAMAN ORGANISASI & KEPANITIAAN</h3>
        <div>
          <p>
          Saya telah menjalankan organisasi serta kepanitiaan sejak di bangku SMA, mulai dari Organisasi Siswa Intra Sekolah yang telah saya jabat selama
          2 tahun, hingga di bangku perkuliahan ini saya bergabung dalam organisasi RISTEK FASILKOM UI. Di SMA sendiri, saya telah aktif mengikuti kepanitiaan
          hampir seluruh rangkaian acara OSIS dan di perkuliahan ini, saya telah mengikuti kepanitiaan CGT sebagai staf Sponsorship dan juga COMPFEST X sebagai
          staf Sponsorship.
          </p>
          <h4><b>Pengalaman Organisasi: </b></h4>
          <ul>
            <li>OSIS SMAK 6 PENABUR Periode 2014/2015</li>
            <li>OSIS SMAK 6 PENABUR Periode 2015/2016</li>
            <li>RISTEK FASILKOM UI Periode 2018/2019</li>
          </ul>

          <h4><b>Pengalaman Kepanitiaan: </b></h4>
          <ul>
            <li>SIXPLOSION 2013 </li>
            <li>SIXPLOSION 2014 </li>
            <li>Masa Orientasi Peserta Didik Baru 2014 (MOPDB)</li>
            <li>Retreat Keagamaan 2014 </li>
            <li>Paskah SMAK 6 PENABUR 2014 </li>
            <li>Natal SMAK 6 PENABUR 2014</li>
            <li>SIXPLOSION 2015 </li>
            <li>Masa Orientasi Peserta Didik Baru 2015 (MOPDB)</li>
            <li>Paskah SMAK 6 PENABUR 2015 </li>
            <li>Natal SMAK 6 PENABUR 2015</li>
            <li>Paskah SMAK 6 PENABUR 2014 </li>
            <li>CGT Fasilkom 2018</li>
            <li>COMPFEST X</li>
          </ul>

        </div>
        <h3>PRESTASI</h3>
        <div>
          <p>
          hm. otw deh ya.
          </p>
        </div>
      </div>

    <div class='btn'>
        <a href ='/'>
            <button class="btn-post"> BACK </button>
        </a>
    </div>

</body>