{% load static %}
<!DOCTYPE html>
<html>
<head id="head">
    <meta name="viewport" content="=width=device-width initial-scale = 1">
    <title id="title"> SHARE YOUR STATUS! </title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- link css & js -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">

</head>

<body id="body">

    <div id="preloader">
        <div id="status">&nbsp;</div>
    </div>
    
        <!-- action itu linknya ke url -->    
    <div class='title'>
        <h1> HALO! APA KABAR? </h1>
        <div class = 'kenalan'>
            <h3 id="intro"> kenalan yuk! </h3>
            <div class='btn'>
                <a href ='profile_page'>
                    <button class="btn-post"> CLICK ME! </button>
                </a>
            </div>
        </div>
    </div>

    <h4><b>ubah tema!</b></h4>
    <ul id="switcher">
        <button id="grayButton">gray</button>
        <button id="whiteButton">white</button>
        <button id="blueButton">blue</button>
        <button id="yellowButton">yellow</button>
    </ul>
    <form class = 'post-stat' action = '/' method="POST"> 
        {% csrf_token %}
        {% for x in status %}
        <div class = 'text-area'>
            {{ x.label_tag }}
            {{ x }}
        </div>

        {% endfor %}
        <div class='btn'>
            <button type='submit' id="btn-post" class="btn-post"> POST </button>
        </div>
    </form>

    <section class="result-page">
        <div class='res-title'>
            <p>HERE IS YOUR STATUS!</p>
        </div>
        {% for x in res %}
        <div class="res-status">
            <p class="stat">{{ x.created_at}} <br> {{ x.status }}</p>
        </div>
        {% endfor %}
    </section>

</body>

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

<script src="{% static 'js/lab_6.js' %}"></script>
</html>
