{% load static %}
<!DOCTYPE html>
<html>

<head id="head">
    <meta name="viewport" content="=width=device-width initial-scale = 1">
    <meta name="google-signin-client_id" content="746293115799-eg9q3r3l5u4v51h8cc1rbt9nrq5437kt.apps.googleusercontent.com">
    <title id="title">LOGIN</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,800" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>

<body>
    {% block content %}

    {% endblock %}
</body>
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
<script type="text/javascript" src="{% static 'js/story_11.js' %}"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
{% block extrascript %}
{% endblock %}

</html>