{% extends 'loginBase.html' %}
{% load static %}

{% block content %}

{% csrf_token %}
<div class="g-signin2" data-onsuccess="onSignIn"></div>

{% endblock %}

{% block extrascript %}
<script>
    function onSignIn(googleUser) {
        var id_token = googleUser.getAuthResponse().id_token;
        sendToken(id_token);
        console.log("Logged In");
    }

    function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
            console.log('User signed out.');
        });
    }

    function sendToken(token) {
        var csrftoken = $("[name=csrfmiddlewaretoken]").val();
        var html;

        $.ajax({
            method: "POST",
            url: "/login/",
            headers: {
                "X-CSRFToken": csrftoken
            },
            data: { id_token: token },
            success: function (result) {
                console.log("Successfully send token");
                if (result.status === "0") {
                    html = "<h4 class='success'>Logged In</h4>";
                    console.log(result.url);
                    window.location.replace(result.url);
                } else {
                    console.log("failed");
                    html = "<h4 class='fail'>Something error, please report</h4>"
                }
                $("h4").replaceWith(html)
            },
            error: function () {
                alert("Something error, please report")
            }
        })
    }

</script>
{% endblock %}