{% extends "base.html" %}

{% block content %}
{% csrf_token %}
    <div>
        <h6> click me! </h6>
        <a id="list_subs" href="{% url 'resultDataSubs' %}">List Subscriber</a>
    </div>
    
    <div id='form-design'>
        <h1 id="subscribe">Subscribe Now!</h1>
        {% for y in subscribe %}
        <form id="form">
            <div class="form-group design-form ">
                {{ y }}
            </div>
            {% endfor %}

            <h4 id="alert">Please fill this form to subscribe!</h4>
            <div class="btn-sub-all">
                <button type="submit" id="btn-subscribe-disable" disabled>SUBSCRIBE</button>
            </div>
        </form>
    </div>
{% endblock %}