{% extends "base.html" %}

{% block content %}
{% csrf_token %}

    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Confirmation Box!</h4>
                    <button id="close" type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <p class="errorlist"></p>
                    <form class="form" method="POST">
                        {% csrf_token %}
                        <input type="password" id="input-password" class="form-control" placeholder="Input Password">
                        <input id='ok' type="button" class="btn btn-primary" onclick="unsubs()" value="confirm">
                    </form>
                </div>  

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                </div>

            </div>
        </div>
    </div>

    <div>
        <h6> click me! </h6>
        <a id="sign-up" href="{% url 'story10' %}">Daftar Subscriber</a>
    </div>

    <h1 id="subscribe">LIST SUBSCRIBER</h1>
    <section class="result-container container-fluid">
        {% csrf_token %}
        <table id="table" class="table table-hover table-striped table-bordered">
            <thead class="thead-dark">
            <tr align="center">
                <th>Name</th>
                <th>Email</th>
                <th>Button</th>
            </tr>
            </thead>
            <tbody id="result">
            </tbody>
        </table>
    </section>
    
{% endblock %}
{% block extrascript %}
<script>
        $('body').onload = renderResult();
    </script>
{% endblock %}
    