html, body {
    font-family: 'Open Sans';
    margin:36px;
    padding:16px;
}

.title h1 {
    color: darksalmon;
    text-align: center;
    font-weight:700;
    margin: 16px;
}

.kenalan {
    display : flex;
    justify-content:center;
    align-items: center;
}

h3 {
    font-size: 24px;
    color: grey;
}

label {
    margin:16px;
}

.btn .btn-post {
    background-color: darksalmon;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 8px 28px 8px 28px;
    margin:16px;
}

#btn_post{
    background-color: darksalmon;
}
 #intro {
     color: darksalmon;
 }
.btn {
    display:flex;
    flex-direction: flex-end;
    justify-content: flex-end;
}

.res-status {
    word-break: break-word;
    padding:16px;
    margin:16px;
    display:flex;
    justify-content:center;
    width:auto;
    height:auto;
    border-style:solid;
    border-radius:48px;
    background-color:darksalmon;
    border-color:white;
}

.stat {
    margin:8px;
}

.res-title {
    display:flex;
    justify-content:center;
    font-weight:600;
    color:darksalmon;
    margin:20px;
}

.res-title p {
    margin:16px;
}

.form-control {
    border-color:white;
    box-shadow: 1px 4px 12px 5px #f3f2f27a;
    width:-webkit-fill-available;
    border-radius:50px;
    height:50px;
    margin:40px;
}

#form-design {
  width: 100%;
  background-color:white;
  padding:40px;
  border-radius:12px;
}

#alert {
    font-size:14px;
    text-align:center;
    margin:40px;
    opacity:0.5;
}

#alert-error {
    font-size:14px;
    text-align:center;
    margin:40px;
    color:#bd0707
}

#subscribe {
  font-weight:bold;
  color:darksalmon;
  text-align:center;
}

#btn-subscribe {
  background-color:darksalmon;
  border-radius:40px;
  padding:8px 12px 8px 12px;
  text-align:center;
  color:white;
  width:-webkit-fill-available;
  margin:0px 40px;
}

.btn-subscribe {
    background-color:darksalmon;
    border-radius:40px;
    padding:8px 12px 8px 12px;
    text-align:center;
    color:white;
}

#btn-subscribe-disable {
    background-color:grey;
    border-radius:40px;
    padding:8px 12px 8px 12px;
    text-align:center;
    color:white;
    width:-webkit-fill-available;
    margin:0px 40px;
  }
.btn-sub-all {
  display:flex;
  flex-direction:center;
  align-items:center;
}

input:invalid{
    border-bottom-color:#bd0707;
}

input:valid{
    border-bottom-color: white;
}
::placeholder {
    opacity:0.3 !important;
    font-size:14px;
}

#nama, #email, #password {
  padding: 0px 0px 0px 40px;
}

#nama-error, #email-error, #password-error {
  padding: 0px 0px 0px 40px;
  background-color:#bd213078;
  color:white;

}

@media screen and (max-width: 768px) {
  html, body {
    margin:0px !important;
  }

  .form-control {
    margin:20px 0px;
  }
  .subscribe {
    margin:0px;
  }
  #nama, #email, #password {
    padding: 0px 0px 0px 20px;
  }
  #alert {
    margin:20px 12px;
  }
  #btn-subscribe{
    margin:0px;
  }
  #btn-subscribe-disable{
    margin:0px;
  }
}


.isi {
    margin : 32px;
    padding : 16px;
}

#switcher {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

#switcher li {
    float: left;
    width: 30px;
    height: 30px;
    margin: 0 15px 15px 0;
    border-radius: 30px;
    border: 3px solid black;
}
  
#grayButton {
    background-color: gray;
    border-radius: 20px;
}
#whiteButton {
    background-color: white;
    border-radius: 20px;
}
#blueButton {
    background-color:lightblue;
    border-radius: 20px;
}
#yellowButton {
    background-color: #ffd41c;
    border-radius: 20px;
}

#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: whitesmoke;
    z-index: 99;
}

#status {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(https://loading.io/spinners/typing/lg.-text-entering-comment-loader.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px;
  }
